extends ./../layout

block content
  .container-fluid
    .row
      .col-12.d-flex.align-items-center.flex-row
        img.m-3.align-self-start(src='/images/qcfirst.png' width='110' alt='qcfirst')
        .flex-grow-1.text-center.pr-5
          h3.mb-4.pr-5 Users List
  .container.flex-grow-1
    .row.justify-content-center.my-5
      .col-md-10
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/admin') Admin
            li.breadcrumb-item.active(aria-current='page') Users
        table.table
          thead
            tr
              th Name
              th Email
              th Role
              th Date updated
              th Date created
              th Actions
          tbody
            each userData in usersData
              tr 
                td 
                  =userData.first_name
                td 
                  =userData.email
                td 
                  =userData.role
                td 
                  =moment(userData.date_created).format('YYYY-MM-DD')
                td 
                  =moment(userData.date_updated).format('YYYY-MM-DD')
                td 
                  a.btn.btn-rounded.btn-outline-primary.py-1.px-3(href="/admin/courses-list/"+userData.id+"/"+userData.first_name) Courses list